# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Standard formatting for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Overrids for specific file formats
[*.yml]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
