/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*--------------------------------------------------------------
    General
---------------------------------------------------------------*/
body {
    font-family: inherit;
}

/*--------------------------------------------------------------
 Grid
---------------------------------------------------------------*/
#wpjb .wpjb-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 1fr;
}

#wpjb .wpjb-grid__item:first-child {
    /* width: 25vw; */
    grid-column: 1;
    /* overflow-y: scroll; */
}

#wpjb .wpjb-grid__item:not(:first-child) {
    grid-column: 2;
}

@media screen and (max-width: 800px) {
    #wpjb .wpjb-grid {
        grid-template-columns: 1fr;
    }

    #wpjb .wpjb-grid__item:first-child {
        grid-column: 1 / -1;
        /* Span across all columns */
    }

    #wpjb .wpjb-grid__item:not(:first-child) {
        grid-column: 1;
    }

    /* #wpjb .wpjb-grid__item:first-child {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    } */
}

/*--------------------------------------------------------------
 Single
---------------------------------------------------------------*/
.wpjb-single__preface {
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
 Card
---------------------------------------------------------------*/
#wpjb .wpjb-card {
    display: grid;
    /* gap: 20px; */
    position: relative;
    border: 1px solid #858585;
    border-radius: 5px;
    /* box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px; */
    padding: 20px;
}

#wpjb .wpjb-archive .wpjb-card {
    /* width: 50vw; */
    margin: 20px 0;
}

#wpjb .wpjb-card__hd {
    padding-right: 140px;
    /* prevents headline from overlapping util nav */
}

#wpjb .wpjb-card__title {
    font-size: 2rem;
    font-weight: 500;
}

#wpjb .wpjb-archive .wpjb-card__title {
    font-size: 1.25rem;
    font-weight: 500;
}

/* #wpjb .wpjb-card__sub-title {
    font-size: 1.25rem;
    font-weight: 500;
} */

#wpjb .wpjb-card__meta-item__subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
}

#wpjb .wpjb-archive .wpjb-card__meta-item__subtitle {
    font-size: 0.75rem;
}

#wpjb .wpjb-card__description {
    font-size: 1rem;
    text-wrap: balance;
    padding-right: 140px;
    /* prevents headline from overlapping util nav */
}

#wpjb .wpjb-card__ft {
    position: absolute;
    top: 20px;
    right: 20px;
}

#wpjb .wpjb-utilityNav__btn {
    border: none;
    background-color: transparent;
}

#wpjb .wpjb-utilityNav__btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* #wpjb .wpjb-card__meta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 10px;
} */

#wpjb .wpjb-card__meta {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* #wpjb .wpjb-card__meta-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: 13px;
    gap: 10px;
} */

#wpjb .wpjb-card__meta-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .75rem;
    margin-bottom: 5px;
}

#wpjb .wpjb-archive .wpjb-card__meta-item {
    font-size: .65rem;
    font-weight: 500;
    margin-top: 5px;
}

#wpjb .wpjb-card__meta-item__update {
    font-size: 0.75rem;
    font-weight: 500;
}

#wpjb .wpjb-card__divider-top {
    margin: 40px 0 20px 0;
    border: 0;
    height: 1px;
    width: 100%;
    background-image: -webkit-linear-gradient(left, #85858500, #858585, #85858500);
}

#wpjb .wpjb-card__divider {
    margin: 20px 0;
    border: 0;
    height: 1px;
    width: 100%;
    background-image: -webkit-linear-gradient(left, #85858500, #858585, #85858500);
}

#wpjb .wpjb-archive .wpjb-userContent {
    font-size: .8rem;
    margin: 20px 0;
}

@media screen and (max-width: 400px) {

    #wpjb .wpjb-card__hd {
        padding-right: 0px;
        /* prevents card from overflowing */
    }
}

/*----------------------------------------------------------------------------------
    Facets
----------------------------------------------------------------------------------*/

#wpjb .wpjb-results__title {
    font-size: .8rem;
}

#wpjb .wpjb-facet {
    display: grid;
    position: relative;
}

#wpjb .wpjb-facet__hd {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#wpjb .wpjb-facet__section {
    display: grid;
    position: relative;
    /* width: 25vw; */
    border: 1px solid #858585;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    font-size: 0.8rem;
    margin-bottom: 20px;
    background-color: white;
    user-select: none;
    cursor: pointer;
    /* box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px; */

}

#wpjb .wpjb-facet__section__list {
    background-color: white;
    height: auto;
}

#wpjb .wpjb-facet__section__list li label {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 0.75rem;
    cursor: pointer;
}

#wpjb .wpjb-facet__section__list li label:hover {
    text-decoration: underline;
}

#wpjb .wpjb-facet__section__list li input[type="checkbox"] {
    /* display: none; */
    display: inline-block;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#wpjb .wpjb-facet__section details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0 5px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
}

#wpjb .wpjb-facet__section details summary:hover {
    opacity: 0.5;
}

#wpjb .wpjb-facet__section details summary::after {
    content: "\002B";
    padding-left: 5px;
    font-size: 1.25rem;
}

#wpjb .wpjb-facet__section details[open] summary::after {
    content: "\2212";
}

@media screen and (max-width: 800px) {

    #wpjb .wpjb-facet__section {
        display: none;
        cursor: pointer;
        font-size: 0.8rem;
        margin: 5px;
    }

    #wpjb .wpjb-facet__section__list {
        columns: auto 3;
        column-gap: 10px;
    }

    #wpjb .wpjb-facet__section__list li {
        break-inside: avoid;
    }

    #wpjb .wpjb-facet__section details summary {

        font-size: 0.75rem;
    }
}

@media screen and (max-width: 500px) {

    #wpjb .wpjb-facet__section__list {
        columns: auto 2;
        column-gap: 10px;
    }
}

@media screen and (max-width: 400px) {

    #wpjb .wpjb-facet__section__list {
        columns: auto 1;
        column-gap: 10px;
    }

}

/*----------------------------------------------------------------------------------
    Pagination
----------------------------------------------------------------------------------*/

#wpjb .wpjb-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

#wpjb nav.pagination {
    position: relative;
    display: block;
}

#wpjb .nav-links {
    position: relative;
}

#wpjb .nav-links ul {
    margin: 0;
    padding: 0,
}

#wpjb .nav-links ul li {
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;
    float: left;
}

#wpjb .nav-links ul li span.current {
    padding: 5px 6px;
    background: #777;
    /* border: 1px solid #777; */
    display: block;
    line-height: 1;
    border-radius: 4px;
    color: #fff;
}

#wpjb .nav-links ul li a {
    padding: 5px 6px;
    background: #ddd;
    color: black;
    text-decoration: none;
    font-size: .8rem;
    /* border: 1px solid #ccc; */
    border-radius: 3px;
    display: block;
    line-height: 1;
    cursor: pointer;
}

#wpjb .nav-links ul li a:hover {
    background: #999;
    border-color: #888;
    color: #fff;
}

@media screen and (max-width: 800px) {

    #wpjb .wpjb-pagination {
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #wpjb .nav-links ul li {
        margin: 0 10px 0 0;
    }

}

@media screen and (max-width: 400px) {

    #wpjb .nav-links ul li {
        margin: 0 5px 0 0;
    }

}

/*----------------------------------------------------------------------------------
    Search
----------------------------------------------------------------------------------*/

#wpjb .wpjb-search__container {
    width: 100%;
}

#wpjb .wpjb-search__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 2px;
    border-radius: 6px;
    /* box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px; */
    border: 1px solid #858585;
    margin-bottom: 20px;
}

#wpjb .wpjb-search__text-input {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

#wpjb .wpjb-search__text-input:hover {
    background-color: rgb(220, 220, 220);
}

#wpjb .wpjb-search__text-input::placeholder {
    font-size: 0.8rem;
}

#wpjb .wpjb-search__submit {
    background-color: #0b2341;
    color: white;
    padding: 6px 12px;
    margin-right: 1px;
    /* not sure why this was needed for it to look right */
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-size: 0.75rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 1.2;
    outline: 0;
    border: 0;
    height: auto;
    transition: all ease .3s;
    width: fit-content;
    cursor: pointer;
}

#wpjb .wpjb-search__submit:hover {
    background-color: gray;
}

#wpjb .wpjb-search__text-input:focus+.wpjb-search__submit {
    opacity: 1;
}

#wpjb .wpjb-btn__clearSettings {
    padding: 1px;
    margin-bottom: 20px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #858585;
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: .8rem;
    opacity: 0;
}

#wpjb .wpjb-btn__clearSettings:hover {
    color: red;
}

/*--------------------------------------------------------------
 Utility Nav
---------------------------------------------------------------*/
#wpjb .wpjb-utilityNav__btn {
    border: none;
    background-color: transparent;
}

#wpjb .wpjb-utilityNav__btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

/*----------------------------------------------------------------------------------
 Buttons
----------------------------------------------------------------------------------*/
#wpjb .wpjb-back {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    padding: 2px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent 22px, black 5px, black 100%);
    border-image-slice: 1;
    font-size: 0.80rem;
    font-weight: 500;
    /* this matches the current icon better */
}

#wpjb .wpjb-back:hover span {
    font-weight: 500;
    /* this matches the current icon better */
}

#wpjb .wpjb-back:hover span {
    margin-left: 5px;
}

#wpjb .wpjb-back svg {
    margin: 0 5px
}

#wpjb .wpjb-back:hover svg {
    margin: 0 5px 0 0;
}

#wpjb .wpjb-back:hover {
    opacity: 0.5;
    cursor: pointer;
}

#wpjb .wpjb-btn {
    background-color: #e0e0e0;
    color: black;
    padding: 8px 14px;
    font-family: futura-pt, sans-serif;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 0.75rem;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 1.2;
    outline: 0;
    border: 0;
    height: auto;
    transition: all ease .3s;
    width: fit-content;
    cursor: pointer;
}

#wpjb .wpjb-btn:hover {
    opacity: 0.5;
}

#wpjb .btn__filter {
    display: none;
    background-color: #0b2341;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

/* #wpjb .btn__filter::after {
    content: "\002B";
    color: white;
    padding-left: 5px;
    font-size: 1rem;
}
#wpjb .btn__filter ::after {
    color: white;
    content: "\2212";
} */

@media screen and (max-width: 800px) {

    #wpjb .btn__filter {
        display: block;
    }
}

/*----------------------------------------------------------------------------------
 Modal
----------------------------------------------------------------------------------*/
#wpjb .wpjb-modal {
    display: none;
}

#wpjb .wpjb-modal--isOpen {
    display: block;
}

#wpjb .wpjb-modal__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

#wpjb .wpjb-modal__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

#wpjb .wpjb-modal__container__content {
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: #464646 0px 2px 8px 2px;
    background-color: #f7f7f7;
}

#wpjb .wpjb-modal__container__close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 105;
}

#wpjb .wpjb-modal__container__close__btn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: #ff0000;
    font-size: 24px;
    line-height: 40px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}

#wpjb .wpjb-modal__container__close__btn::before {
    content: "\2717";
}

/*----------------------------------------------------------------------------------
 Form
----------------------------------------------------------------------------------*/
#wpjb .wpjb-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wpjb .wpjb-form__hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: 500px;
    margin-top: 10px;
}

#wpjb .wpjb-form__title {
    font-size: 1.5rem;
    font-weight: 500;
}

#wpjb .wpjb-form__meta-data {
    width: 90vw;
    max-width: 500px;
    font-size: 0.75rem;
}

#wpjb .wpjb-form__bd {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
}

#wpjb .wpjb-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wpjb .wpjb-field {
    background-color: transparent;
    padding: 10px;
    /* margin: 10px 0; */
    margin-bottom: 5px;
    width: 90vw;
    max-width: 500px;
    height: 40px;
    border: none;
    border-radius: 12px;
    box-shadow: inset 6px 6px 6px rgb(220, 220, 220), inset -6px -6px 6px white;
}

#wpjb .wpjb-drag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wpjb .wpjb-drag__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 90vw;
    max-width: 500px;
    height: 150px;
    /* border: 2px dashed #ccc; */
    border-radius: 25px;
    margin: 5px 0;
    padding: 20px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: inset 6px 6px 6px rgb(220, 220, 220), inset -6px -6px 6px white;
}

#wpjb .wpjb-form__resume {
    margin-bottom: 20px;
}

#wpjb .wpjb-drag__fieldset.active {
    /* border: 2px solid #ccc; */
    box-shadow: inset 6px 6px 6px rgb(220, 220, 220), inset -6px -6px 6px rgb(230, 230, 230);
}

/* change to a font class later */
#wpjb .wpjb-drag__browse-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

#wpjb .wpjb-drag__title {
    color: black;
}

#wpjb .browse-label:focus-within {
    outline: 1px solid #00449e;
}

#wpjb .wpjb-drag__browse-btn:hover {
    opacity: 0.5;
}

#wpjb .wpjb-drag__file-error {
    color: red;
    opacity: 0;
}

#wpjb .wpjb-drag__file-type {
    font-size: 0.625rem;
}

#wpjb .hidden-label {
    opacity: 0;
    padding-left: 10px;
    color: #757575;
    width: 100%;
    transition: opacity 0.3s ease;
}

#wpjb .visible-label {
    opacity: 1;
    padding-left: 10px;
    color: #757575;
    width: 100%;
    transition: opacity 0.3s ease;
}

#wpjb .btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

#wpjb .btn:focus,
#wpjb .btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#wpjb .btn__submit {
    background-color: #00449e;
    color: #fff;
}

/*----------------------------------------------------------------------------------
 User Content - apply basic styles to html when it's unknown
----------------------------------------------------------------------------------*/
/* reasonable defaults */
#wpjb .wpjb-userContent {
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    overflow: hidden;
    /* clear content and don't let it overflow the div */
    word-wrap: break-word;
    /* don't let long word break outside the div */
}

/* vertical rhythm */
#wpjb .wpjb-userContent>* {
    margin-top: 1rem;
}

#wpjb .wpjb-userContent>*:first-child {
    margin-top: 0 !important;
}

#wpjb .wpjb-userContent>*:last-child {
    margin-bottom: 0 !important;
}

/* media assets */
#wpjb .wpjb-userContent img,
#wpjb .wpjb-userContent iframe,
#wpjb .wpjb-userContent embed,
#wpjb .wpjb-userContent object,
#wpjb .wpjb-userContent video,
#wpjb .wpjb-userContent audio,
#wpjb .wpjb-userContent canvas,
#wpjb .wpjb-userContent picture {
    display: inline-block;
    max-width: 100% !important;
}

/* links */
#wpjb .wpjb-userContent a {
    color: inherit;
    text-decoration: underline;
}

/* paragraphs */
#wpjb .wpjb-userContent p {
    hyphens: manual;
}

/* headings */
#wpjb .wpjb-userContent h1,
#wpjb .wpjb-userContent h2,
#wpjb .wpjb-userContent h3,
#wpjb .wpjb-userContent h4,
#wpjb .wpjb-userContent h5,
#wpjb .wpjb-userContent h6 {
    margin-top: 1.3rem;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
}

#wpjb .wpjb-userContent h1 {
    font-size: clamp(1.5rem, 1.413rem + 0.4348vw, 1.75rem);
}

/* 24px to 28px */
#wpjb .wpjb-userContent h2 {
    font-size: clamp(1.25rem, 1.163rem + 0.4348vw, 1.5rem);
}

/* 20px to 24px */
#wpjb .wpjb-userContent h3 {
    font-size: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
}

/* 18px to 20px */
#wpjb .wpjb-userContent h4 {
    font-size: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
}

/* 16px to 18px */
#wpjb .wpjb-userContent h5 {
    font-size: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
}

/* 16px to 18px */
#wpjb .wpjb-userContent h6 {
    font-size: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
}

/* 16px to 18px */

#wpjb .wpjb-zuserContent h1 a,
#wpjb .wpjb-userContent h2 a,
#wpjb .wpjb-userContent h3 a,
#wpjb .wpjb-userContent h4 a,
#wpjb .wpjb-userContent h5 a,
#wpjb .wpjb-userContent h6 a {
    color: inherit !important;
    text-decoration: none !important;
}

/* lists */
#wpjb .wpjb-userContent ul {
    list-style-type: disc;
}

#wpjb .wpjb-userContent ol {
    list-style-type: decimal;
}

#wpjb .wpjb-userContent li {
    margin-left: 1.7rem;
    /* leave room for the marker */
}

#wpjb .wpjb-userContent li:not(:last-child) {
    margin-bottom: 0.3rem;
    /* create space between items */
}

#wpjb .wpjb-userContent ul ul,
#wpjb .wpjb-userContent ul ol,
#wpjb .wpjb-userContent ol ul,
#wpjb .wpjb-userContent ol ol {
    margin-top: 0.3rem;
    /* nested lists add top-margin to equalize space */
    margin-bottom: 0;
    /* nested lists have no margin-bottom */
}

#wpjb .wpjb-userContent ol ul,
#wpjb .wpjb-userContent ul ul {
    list-style-type: circle;
}

#wpjb .wpjb-userContent ol ol ul,
#wpjb .wpjb-userContent ol ul ul,
#wpjb .wpjb-userContent ul ol ul,
#wpjb .wpjb-userContent ul ul ul {
    list-style-type: square;
}

/* typography treatments */
#wpjb .wpjb-userContent address {
    font-style: italic;
}

#wpjb .wpjb-userContent strong,
#wpjb .wpjb-userContent b {
    font-weight: bold;
}

#wpjb .wpjb-userContent em,
#wpjb .wpjb-userContent i {
    font-style: italic;
}

#wpjb .wpjb-userContent del,
#wpjb .wpjb-userContent strike,
#wpjb .wpjb-userContent s {
    text-decoration: line-through;
}

#wpjb .wpjb-userContent u,
#wpjb .wpjb-userContent ins {
    text-decoration: underline;
}

#wpjb .wpjb-userContent sup {
    vertical-align: super;
    font-size: smaller;
}

#wpjb .wpjb-userContent sub {
    vertical-align: sub;
    font-size: smaller;
}

#wpjb .wpjb-userContent abbr,
#wpjb .wpjb-userContent acronym {
    border: none;
    text-decoration: underline dotted;
}
