/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*--------------------------------------------------------------
    card
---------------------------------------------------------------*/
  .wpjb-card {
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
    padding: 20px;
  }

  .wpjb-card__hd {
    padding-right: 140px;
  }

  .wpjb-card__ft{
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .wpjb-utilityNav__btn {
    border: none;
    background-color: transparent;
    margin: 0 0.1rem;
  }

  .wpjb-utilityNav__btn:hover {
    cursor: pointer;
    opacity: 0.5;
  }
