/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*--------------------------------------------------------------
    fullCard
---------------------------------------------------------------*/
body {
    margin: 1rem;
    padding: 1rem;
  }
  .wpjb-fullCard {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 2px;
    height: auto;
    width: 90vw;
    padding: 1rem;
  }
  .wpjb-fullCard__utility-btn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    margin: 0 0.1rem;
  }

  .wpjb-fullCard__utility-btn:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .wpjb-fullCard__btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
  }
  .wpjb-fullCard__hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wpjb-fullCard__job-info {
    font-size: small;
  }