/* ---------------------------------------------------------------------
 Admin Panel CSS
------------------------------------------------------------------------ */

/* ---------------------- Variables ---------------------- */
#wp_job_board_admin {
    --wpjba-global-insulation-x: 24px;
    --wpjba-global-insulation-y: 32px;

    --wpjba-color-white: #ffffff;
    --wpjba-color-light: #edf0f1;
    --wpjba-color-gray: #d5d5d5;
    --wpjba-color-mid: #808080;
    --wpjba-color-dark: #0d000d;
    --wpjba-color-black: #000000;
    --wpjba-color-accent: #e01b84;

    --wpjba-hdg-color-primary: var(--wpjba-color-dark);
    --wpjba-text-color-primary: var(--wpjba-color-mid);
}

/* ---------------------- Base ---------------------- */
#wp_job_board_admin {
    margin-left: -20px !important;
}

#wp_job_board_admin h1,
#wp_job_board_admin h2,
#wp_job_board_admin h3,
#wp_job_board_admin h4,
#wp_job_board_admin h5,
#wp_job_board_admin h6 {
    margin: 0;
    padding: 0;
    color: var(--wpjba-hdg-color-primary);
    font-weight: 600;
}

#wp_job_board_admin ul,
#wp_job_board_admin li,
#wp_job_board_admin p {
    margin: 0;
    padding: 0;
    color: var(--wpjba-text-color-primary);
}

/* ---------------------- Helpers ---------------------- */
#wp_job_board_admin .wpjba-highlight {
    color: var(--wpjba-color-accent) !important;
}

/* ---------------------- Page ---------------------- */
#wp_job_board_admin .wpjba__hd {
    padding: var(--wpjba-global-insulation-y) var(--wpjba-global-insulation-x);
    background-color: var(--wpjba-color-light);
}

#wp_job_board_admin .wpjba__menu {
    padding: 0 var(--wpjba-global-insulation-x);
    border-top: 1px solid var(--wpjba-color-gray);
    border-bottom: 1px solid var(--wpjba-color-gray);
    background-color: var(--wpjba-color-white);
}

#wp_job_board_admin .wpjba__bd {
    padding: var(--wpjba-global-insulation-y) var(--wpjba-global-insulation-x);
}

/* ---------------------- Tabs ---------------------- */
#wp_job_board_admin .wpjba-tabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

#wp_job_board_admin .wpjba-tabs a {
    display: block;
    padding: 20px 2px 16px 2px;
    border-bottom: 3px solid transparent;
    color: var(--wpjba-text-color-primary);
    font-weight: 400;
    text-decoration: none;
    transition: all 100ms linear;
}

#wp_job_board_admin .wpjba-tabs a:hover {
    color: var(--wpjba-color-accent);
}

#wp_job_board_admin .wpjba-tabs a.wpjba-tabs-isActive {
    color: var(--wpjba-color-black);
    border-color: var(--wpjba-color-accent);
    font-weight: 600;
    cursor: default;
}







#wp_job_board_admin .spinner {
    float: none;
}

pre.wp_job_board_meta_sample {
    margin: 12px 0 0 0;
    padding: 1rem;
    border: none;
    background-color: #1d2327;
    color: #f0f0f1;
    font-family:ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    white-space: pre-wrap;
    word-break: break-all;
}
